:root{
    --green:#85dbb5;
    --white:#fff;
    --light-white:#aaa;
    --black:#3d3d3d;
    --light-bg:#4b4b4b; 
    --light-green:#38d39f;  
    --shadow-green:#ddfaed;
  }
  
  
  body{
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7f7 100%);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  } 
  .header{
    color: var(--white);
    background-color:var(--light-bg);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 50px;
    overflow: hidden;
  }
  .quiz-container{ 
    color: var(--white);
    background-color:var(--light-bg);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    overflow: hidden;
  }
  .quiz-header{
    padding: 2rem;
  }
  h2{
    padding: 2rem;
    text-align: center;
    margin: 0;
  } 
  h3{
    padding: 1rem;
    text-align: left;
    margin: 0;
  }
  
  ul{
    list-style-type: none;
    padding: 0;
  }
  ul li{
    font-size: 1.2rem;
    margin: 1.5rem 0;
    margin-left: 2.5rem;
  }
  ul li label{
    cursor: pointer;
  }
  .btn{
    background-color: var(--light-green);
    color: var(--white);
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
  }
  .btn:hover{
    background-color: var(--white); 
    color: var(--light-green);
  } 
  button{
    background-color: var(--light-green);
    color: var(--white);
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
  }
  button:hover{
    background-color: var(--white); 
    color: var(--light-green);
  }
  